@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font: normal 100%/1.3 sans-serif;
  background-color: #e2e2e2;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  font-family: sans-serif;
  padding: 1rem;
  margin: .4em;
}

.img-flex {
  position: relative;
  width: 100%;
  display: block;
  padding-top: .7em;
}

p {
  text-align: left;
  margin-top: auto;
}

body {
  margin: 0;
}

div {
  display: inline-block;
}

a {
  margin-top: auto;
  background-color: #555;
  border-radius: 4px;
}

.btn {
  padding: .5em;
  border-radius: 4px;
  background-color: #555;
  text-decoration: none;
  color: #fff;
}

.btn:hover {
  background-color: #000;
}

@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
    line-height: 1.3;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  .image {
    display: inline-block;
    max-width: 25em;
    vertical-align: middle;
    width: 50%;
  }

  .info {
    display: inline-block;
    max-width: 25em;
    vertical-align: middle;
    width: 48%;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  section {
    text-align: center;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
    line-height: 1.5;
  }

}
